.fav-black {
  filter: invert(1) brightness(0);
}

.main-header {
  background-color: #e76c1f;
  height: 128px;
  padding: 10px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 16px;
}

.burger-button {
  background: none;
  border: none;
  cursor: pointer;
}

.main-image-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: visible;
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.logo-overlay {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;

  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 50%;
  border: 13px solid #fdeadc;
}

.headline {
  text-align: center;
  margin: 20px 0;
  padding-top: 50px;
}

.heading h1 {
  color: #363534;
}

.heading span {
  color: #e76c1f;
}

.category-nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
}

.category-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 24px;
}

.category-nav-background {
  background: #e76c1f;
  position: sticky;
  top: 0;
  z-index: 100;
}

.splitt_view_container {
  width: 1440px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.product-list {
  width: calc(100% - 435px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.seperator-full {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.seperator-full::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;

  left: -50vw;
  right: -50vw;

  background-color: #e76c1f;
  z-index: -1;
}

.seperator-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px;
  position: relative;
}

.seperator-content img {
  height: 80px;
  width: auto;
  flex-shrink: 0;
  margin-top: -10px;
}

.seperator-content h2 {
  color: white;
  margin: 0;
  font-size: 40px;
  font-family: "Palanquin", sans-serif;
  line-height: 120%;
  font-weight: 700;
}

.product-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.category-pizza {
  border-left: 5px solid red;
}

.category-burger {
  border-left: 5px solid brown;
}

.category-pasta {
  border-left: 5px solid green;
}

.category-salat {
  border-left: 5px solid blue;
}

.dish-card {
  display: flex;
  flex-direction: row;
  background-color: #fdeadc;
  border-radius: 12px;
  gap: 10px;
  padding: 15px;
  align-items: stretch;
}

.dish-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.dish-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.dish-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.added-badge {
  background-color: white;
  color: #e76c1f;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
}

.add-btn {
  background-color: white;
  color: #363534;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 8px;
  font-weight: 600;
  font-size: 16px;
}

.add-btn:hover {
  color: #e76c1f;
}

footer {
  background-color: #e76c1f;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-card {
  background-color: #363534;
  color: #fdeadc;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  min-width: 300px;

  animation: slideIn 0.3s ease-out;
}

.confirmation-card img {
  width: 80px;
}

.confirmation-card h3 {
  font-size: 42px;
}

.confirmation-card p {
  font-size: 29px;
  font-weight: 700;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
