.product-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.dish-card {
  display: flex;
  flex-direction: row;
  background-color: #fdeadc;
  border-radius: 12px;
  gap: 10px;
  padding: 15px;
  align-items: stretch;
}

.dish-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.dish-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.dish-header h3 {
  color: #363534;
}

.description {
  font-weight: 500;
  font-size: 16px;
  color: #363534;
}

.dish-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.added-badge {
  background-color: white;
  color: #e76c1f;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
}

.add-btn {
  background-color: white;
  color: #363534;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 8px;
  font-weight: 600;
  font-size: 16px;
}

.add-btn:hover {
  color: #e76c1f;
}
