* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
        font-family: palanquin, sans-serif;

}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
      background-color: #E76C1F;
    color: white;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Regular.ttf');
    font-weight: 400;
}

/* Fett für Überschriften */
@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Bold.ttf');
    font-weight: 700;
}