@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/Palanquin/Palanquin-Bold.ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

h1 {
    font-family: 'Palanquin', sans-serif;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    background-color: #E76C1F;
    color: white;
}

h3 {
    font-size: 32px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    color: #363534;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-size: 16px;
}

